
.App {
  height: 100vh;
  background-color: #e3f3f6; 
  position: relative;
}


.App main {
  flex: 1;
  background: rgba(211, 209, 210, 0.78); 
  border: 3px solid #FFFFFF;
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  overflow-x: hidden;
}

.App main::-webkit-scrollbar {
  width: 0;
}